
<div id="container-top">
    <h1 class="orange">preKix</h1>
    <div id="progress-bar-main"></div>
    <div id="flag">Needs Data</div>
</div><!-- end container-top -->

<div id="container">
    <div id="sidenav">
       <ul>
        <li id="story" class="cats">
            <div class="cat-button">Story
                <%= image_tag 'badge-off.png', :class => "badge-incomplete" %>
                <ul class="dotted">
                    <li>&#149;</li>
                    <li>&#149;</li>
                    <li>&#149;</li>
                    <li>&#149;</li>
                    <li>&#149;</li>
                </ul>
            </div>
            <ul class="sub-tasks">
                <li id="story-main" class="sub-task"><strong>1</strong><span>Your Story</span><div class="sub-badge incomplete"></div></li>
                <li id="story-long" class="sub-task"><strong>2</strong><span>Long Description</span><div class="sub-badge incomplete"></div></li>
                <li id="story-email" class="sub-task"><strong>3</strong><span>Email pitch</span><div class="sub-badge incomplete"></div></li>
                <li id="story-edit-content" class="sub-task"><strong>4</strong><span>Edit Content</span><div class="sub-badge incomplete"></div></li>
                <li id="story-perspective" class="sub-task"><strong>5</strong><span>Outside Perspective</span><div class="sub-badge incomplete"></div></li>
            </ul>
        </li>
        <li id="financial" class="cats">
            <div class="cat-button">Financial
                <%= image_tag 'badge-off.png', :class => "badge-incomplete" %>
                <ul class="dotted">
                    <li>&#149;</li>
                    <li>&#149;</li>
                    <li>&#149;</li>
                    <li>&#149;</li>
                    <li>&#149;</li>
                </ul>
            </div>
            <ul class="sub-tasks">
                <li id="fin-goal" class="sub-task"><strong>1</strong><span>Your Story</span><div class="sub-badge incomplete"></div></li>
                <li id="fin-reward" class="sub-task"><strong>2</strong><span>Long Description</span><div class="sub-badge incomplete"></div></li>
                <li id="fin-fulfill" class="sub-task"><strong>3</strong><span>Email pitch</span><div class="sub-badge incomplete"></div></li>
                <li id="fin-stretch-goals" class="sub-task"><strong>4</strong><span>Edit Content</span><div class="sub-badge incomplete"></div></li>
                <li id="fin-math" class="sub-task"><strong>5</strong><span>Outside Perspective</span><div class="sub-badge incomplete"></div></li>
            </ul>
        </li>
        <li id="networking" class="cats">
            <div class="cat-button">Networking
                <%= image_tag 'badge-off.png', :class => "badge-incomplete" %>
                <ul class="dotted">
                    <li>&#149;</li>
                    <li>&#149;</li>
                    <li>&#149;</li>
                    <li>&#149;</li>
                    <li>&#149;</li>
                </ul>
            </div>
            <ul class="sub-tasks">
                <li id="net-website" class="sub-task"><strong>1</strong><span>Your Story</span><div class="sub-badge incomplete"></div></li>
                <li id="net-friends" class="sub-task"><strong>2</strong><span>Long Description</span><div class="sub-badge incomplete"></div></li>
                <li id="net-social-media" class="sub-task"><strong>3</strong><span>Email pitch</span><div class="sub-badge incomplete"></div></li>
                <li id="net-blog" class="sub-task"><strong>4</strong><span>Edit Content</span><div class="sub-badge incomplete"></div></li>
                <li id="net-events" class="sub-task"><strong>5</strong><span>Outside Perspective</span><div class="sub-badge incomplete"></div></li>
            </ul>
        </li>
        <li id="video" class="cats">
            <div class="cat-button">Video
                <%= image_tag 'badge-off.png', :class => "badge-incomplete" %>
                <ul class="dotted">
                    <li>&#149;</li>
                    <li>&#149;</li>
                    <li>&#149;</li>
                    <li>&#149;</li>
                    <li>&#149;</li>
                </ul>
            </div>
            <ul class="sub-tasks">
                <li id="video-videographer" class="sub-task"><strong>1</strong><span>Your Story</span><div class="sub-badge incomplete"></div></li>
                <li id="video-storyboard" class="sub-task"><strong>2</strong><span>Long Description</span><div class="sub-badge incomplete"></div></li>
                <li id="video-filming" class="sub-task"><strong>3</strong><span>Email pitch</span><div class="sub-badge incomplete"></div></li>
                <li id="video-editing" class="sub-task"><strong>4</strong><span>Edit Content</span><div class="sub-badge incomplete"></div></li>
                <li id="video-sharing" class="sub-task"><strong>5</strong><span>Outside Perspective</span><div class="sub-badge incomplete"></div></li>
            </ul>
        </li>
        <li id="marketing" class="cats">
            <div class="cat-button">Marketing
                <%= image_tag 'badge-off.png', :class => "badge-incomplete" %>
                <ul class="dotted">
                    <li>&#149;</li>
                    <li>&#149;</li>
                    <li>&#149;</li>
                    <li>&#149;</li>
                    <li>&#149;</li>
                </ul>
            </div>
            <ul class="sub-tasks">
                <li id="marketing-print-material" class="sub-task"><strong>1</strong><span>Your Story</span><div class="sub-badge incomplete"></div></li>
                <li id="marketing-events" class="sub-task"><strong>2</strong><span>Long Description</span><div class="sub-badge incomplete"></div></li>
                <li id="marketing-networking" class="sub-task"><strong>3</strong><span>Email pitch</span><div class="sub-badge incomplete"></div></li>
                <li id="marketing-web_visibility" class="sub-task"><strong>4</strong><span>Edit Content</span><div class="sub-badge incomplete"></div></li>
                <li id="marketing-friends" class="sub-task"><strong>5</strong><span>Outside Perspective</span><div class="sub-badge incomplete"></div></li>
            </ul>
        </li>
    </ul>
</div>

<div id="main-content">
   <p class="quote">Twenty years from now, you will be more disappointed by the things that you didn't do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails.<br />Explore. Dream. Discover.</p>
   <p class="quote-attribute">- Mark Twain</p>
   <input id="cb-story-main" class="task-cb" data-cat="story" name="story-main" type="checkbox" value="1">
</div>

</div><!-- end container -->


<div id="footer" class="cf">

    <p><a href="#">About</a> &nbsp; &#149; &nbsp; <a href="#">Blog</a> &nbsp; &#149; &nbsp; <a href="#">Careers</a> &nbsp; &#149; &nbsp; <a href="#">Contact</a></p>

    <div id="copyright">2013 preKix, Inc. All Rights Reserved.</div>

</div><!-- end footer -->
