<p id="notice"><%= notice %></p>

<!-- <p>
  <b>User:</b>
  <%= @task.user_id %>
</p>
 -->
<p>
  <b>Type task:</b>
  <%= Task::TYPES.invert[@task.type_task.to_i] %>
</p>

<p>
  <b>Text:</b>
  <%= @task.text %>
</p>

<p>
  <b>Completed:</b>
  <%= @task.completed %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
<h3>logged in as: <%= current_user.email %></h3>
<%= button_to 'Sign Out', destroy_user_session_path, :method => 'delete' %>

