<div id="loginpg">

	<div id="container">

		<div id="container-top" class="cf">

		    <%= image_tag "illustrations/clipboard.png", :style => "width: 100px; height: 100px;", :class => "big-illustration-pusher", :id => "clipboard" %>
		    <h1><span class="orange">PreKix</span> Welcome</h1>
		    <!-- <div style="clear: both"></div> -->

		</div><!-- end container-top -->

		<div id="container-bot">
		    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

		        	  <%= f.label :email %>

		        	  <%= f.email_field :email, :autofocus => true, :class => "span3" %>

		        	  <%= f.label :password %>

		        	  <%= f.password_field :password, :class => "span3" %>

		        	  <% if devise_mapping.rememberable? -%>
		        	    <%= f.check_box :remember_me %><%= f.label :remember_me %>
		        	  <% end -%>

		        	  <%= f.submit "Sign in", :class => "btn btn-large btn-block" %>

		        	<% end %>
		    <p class="center"><%= render "devise/shared/links" %></p>
		</div><!-- end container-bot -->

	</div><!-- end container -->

</div>
